@import "tailwindcss";

/* Base styles */
html,
body {
  height: 100%;
}

button {
  cursor: pointer;
}

/* Hide scrollbar when there's no overflow */
html {
  overflow-y: auto;
}

html.no-scroll {
  overflow-y: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
